body {
    font-family: 'Roboto', sans-serif;
    color: #2b283a;
}

h1 {
    color: whitesmoke;
    font-size: 2.25rem;
}

h2 {
    margin-top: 0
}

h3 {
    color: #d0aaff;
    font-size: 1.25rem;
}

a {
    color: #ef5839;
    text-decoration-style: dotted;
}

a:hover, a:active {
    color: #d4b44c;
}

.container {
    width: 620px;
    margin: 0 auto;
}

.two-image-container {
    display: flex;
    justify-content: space-between;
}

.two-images {
    width: 18.75rem;
    border-radius: .25rem;
}

/* BUTTONS */

.button {
    padding: .8rem 1.25rem;
    border-radius: .25rem;
    font-weight: 500;
    text-decoration: none;
    display: inline-block;
}

.button-dark {
    background-color: #5f29a3;
    color: whitesmoke;
}

.button-medium {
    background-color: #f0e0ff;
    color: #5f29a3;
}

.button-light {
    background-color: whitesmoke;
    color: #5f29a3;
}

.button:hover, .button:active {
    background-color: #f3e885;
    color: #2b283a;
}

/* HEADER */

header {
    background-color: #5f29a3;
}

/* SECTION */

.section-img {
    width: 100%;
}

/* SECTION 2 */

#section-2 {
    background-color: #5f29a3;
    color: whitesmoke;
}

/* FOOTER */

footer {
    color: #5f29a3;
    text-align: center;
}

/* MULTIPLE ELEMENTS */

body, h1, h3 {
    margin: 0;
}

header, section, footer {
    padding: 2.75rem 0;
}