body {
    font-family: 'Roboto', sans-serif;
    color: #2b283a;
    margin: 0;
}

h1 {
    color: whitesmoke;
    margin: 0;
    font-size: 2.25rem;
}

h2 {
    margin-top: 0
}

h3 {
    color: #d0aaff;
    margin: 0;
    font-size: 1.25rem;
}

/* HEADER */

header {
    background-color: #5f29a3;
    padding: 2.75rem 0;
}

/* SECTION */

section {
    padding: 2.75rem 0;
}

.section-img {
    width: 100%;
}

